.chat-bg {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  border-radius: 20px;
  object-fit: cover;
  inset: 0;
}