.ant-space-compact {
  width: 100%;
}

.custom-add-user {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 102;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #616161;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #424242 transparent;
}
